@tailwind base;
@tailwind components;
@tailwind utilities;

:not(.htmx-request) #spinner:not(.htmx-request) {
  display: none;
}

.spinner_ajPY {
  transform-origin: center;
  animation: spinner_AtaB 0.75s infinite linear;
}
@keyframes spinner_AtaB {
  100% {
    transform: rotate(360deg);
  }
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu";
}

div.nav-link a,
.nav-link {
  text-decoration: underline;
}

div.nav-link a:hover,
.nav-link:hover {
  text-decoration: none;
}
